.header {
  background-image: url("../images/BB-banner.jpg");
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 100vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
  overflow-x: hidden;

  &__nav {
    background-color: white;
    box-shadow: 10px 10px 30px rgba(65, 55, 44, 0.8);
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
    &--input {
      width: 90%;
      padding: 2px;
    }
    &--btn {
      padding: 2px;
      background-color: orange;
    }
  }
}

.h1 {
  color: transparent;
}
